extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Daniel Totten, PhD

        p.lead.text-light
          | Research Scientist and Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Thanks for visiting the site! My name is Daniel (no need for "Dr. Totten"), and I'm so glad you've taken the time to read this. I've spent the last 10 years exploring, questioning, researching, and solving complex and dynamic biological problems with an emphasis on basic and translational science. Now I am excited to merge my analytical and creative skills together and become an amazing web developer.
            br
            br
            | "What does science and web development have in common?", you may be asking yourself. Besides the shared process of "plan, experiment, analyze, and restart", both fields are largely data driven, and both fields require creativity and critical thinking to not only understand the problem at hand, but to develop the solution. I hope this portfolio demonstrates my growing skills as a JavaScript developer, and please don't hesitate to reach out for questions, comments, or a potential interview!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS/ Sass
          li JavaScript
          li jQuery
          li Express
          li Node.js
          li Pug
          li Git
          li AJAX and Fetch
          li Mocha/ Chai
        h6 Contact Info

        ul
          li 503-931-3902
          li TottenDC@Gmail.com

        a.button.expanded(href='https://linkedin.com/in/daniel-totten-279042157/') LinkedIn
        a.button.expanded(href='https://github.com/TottenDC') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
