extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Daniel Totten, PhD

        p.lead.text-light
          | Research Scientist and Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Thanks for visiting the site! My name is Daniel (no need for "Dr. Totten"), and I'm so glad you've taken the time to read this. I've spent the last ~10 years exploring, researching, and solving complex and dynamic problems as a molecular biologist. However, my true passion isn't on the bench, it's in a classroom. 
            br
            br
            | I pursued my PhD with the hopes of becoming a professor. However, the emphasis on maintaining a grant-sponsored lab over teaching dissuaded me from biological professorship. Therefore, as a postdoc, I learned coding through the Treehouse TechDegree program. Now, I want to merge my passion for teaching with my passion for technology. Please don't hesitate to reach out for questions, comments, a sneak at my teaching portfolio, or a potential interview!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS / Sass
          li JavaScript
          li Python
          li Express
          li Node.js
          li Pug
          li Git
          li Django
          li RESTful APIs
          li React
          li Flask
          li Mocha / Chai
        h6 Contact Info

        ul
          li 814-232-0877
          li TottenDC@Gmail.com

        a.button.expanded(href='https://linkedin.com/in/daniel-totten-279042157/' target='_blank' rel='noopener noreferrer') LinkedIn
        a.button.expanded(href='https://github.com/TottenDC' target='_blank' rel='noopener noreferrer') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
